.layout {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.overlay {
    width: auto;
    min-height: 100vh;
    padding: 40px 20px;
    box-sizing: border-box;

}


/* Adaptación móvil */
@media (max-width: 768px) {
    .layout {
        background-attachment: scroll;
    }

    .overlay {
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}