body {
  background: #faf7f2;
  font-family: 'Georgia', serif;
  margin: 0;
}

.header {
  padding: 1rem;
  text-align: center;
}

/* Ejemplo CSS */
h1 {
  font-family: 'Great Vibes', cursive;
  font-family: "Dancing Script", cursive;
}

p,
button {
  font-family: 'Montserrat', sans-serif;
}


h1 {
  margin-bottom: 2rem;
  margin-top: 0;
  font-size: 4rem;
  font-weight: 500;
  color: #ebe4d6;
  text-align: center;
  margin: 10px 0;

  text-shadow:
    1px 1px 0 #3f2f24,
    -1px 1px 0 #3f2f24,
    1px -1px 0 #3f2f24,
    -1px -1px 0 #3f2f24,
    0 0 3px rgba(0, 0, 0, 0.15);

}

.subtitle {
  margin-bottom: 1rem;
  margin-top: .5rem;
  color: #ebdcbd;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-shadow: 1px 1px black;
}

.img-layout {
  max-width: 240px;
  width: 100%;
  border-radius: 50%;
  height: auto;
  border: 4px solid #eddcc8;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.nav {
  margin-top: 12px;
}

.button {
  background: #e5d6c8;
  color: #5a4132;
  border: none;
  padding: 10px 14px;
  margin: 0 6px;
  border-radius: 8px;
  cursor: pointer;
}

.upload-card {
  width: 90%;
  max-width: 640px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  text-align: center;
}

.gallery {
  columns: 3 220px;
  column-gap: 18px;
  margin: 30px;
}

.gallery img {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 10px;
  break-inside: avoid;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  transition: transform .2s;
}

.gallery img:hover {
  transform: scale(1.02);
}

.login-card {
  background: white;
  width: 90%;
  max-width: 420px;
  margin: 30px auto;
  padding: 22px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
}

.input {
  padding: 10px;
  width: calc(100% - 22px);
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}